In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
order_df=pd.read_csv("data/orders.csv")

In [3]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
aisles_df=pd.read_csv("data/aisles.csv")
departments_df=pd.read_csv("data/departments.csv")
products_df=pd.read_csv("data/products.csv")
order_products__train_df=pd.read_csv("data/order_products__train.csv")

In [5]:
order_products__train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [6]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [7]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [8]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

### CONNECTING WITH PG ADMIN DBMS

In [9]:
#connection
try:
    conn = psycopg2.connect(dbname='ecom_analysis',user='postgres',password='root',port='5432')
except:
    print("Connection to DBMS failed")

### Creating CURSOR object. It is used to execute queries on SQL Engine

In [10]:
# CURSOR
cur = conn.cursor()

There are two ways to insert data :
1. Looping through each and every row and inserting data . Can be done using **`FOR LOOP`** .
1. Using **`SQL Alchemy Engine`**. It directly does Bulk data insertion through the Database Table

### SQL Alchemy Engine

In [11]:
#  create_engine('<connection String>://<username>:<password>@localhost/<database name>')
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/ecom_analysis')

In [12]:
cur.execute("""
CREATE TABLE IF NOT EXISTS aisles (
        aisle_id INTEGER PRIMARY KEY,
        aisle VARCHAR
    )
""")

In [13]:
cur.execute("""
CREATE TABLE IF NOT EXISTS departments (
        department_id INTEGER PRIMARY KEY,
        department VARCHAR
    )
""")

In [14]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name VARCHAR,
        aisle_id INTEGER,
        department_id INTEGER,
        FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
        FOREIGN KEY (department_id) REFERENCES departments (department_id)
    )
""")

In [15]:
cur.execute("""
CREATE TABLE IF NOT EXISTS orders (
        order_id INTEGER PRIMARY KEY,
        user_id INTEGER,
        order_number INTEGER,
        order_dow INTEGER,
        order_hour_of_day INTEGER,
        days_since_prior_order INTEGER
    )
""")

In [16]:
cur.execute("""
CREATE TABLE IF NOT EXISTS order_products (
        order_id INTEGER,
        product_id INTEGER,
        add_to_cart_order INTEGER,
        reordered INTEGER,
        PRIMARY KEY (order_id, product_id),
        FOREIGN KEY (order_id) REFERENCES orders (order_id),
        FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [17]:
conn.commit()

In [18]:
order_df.drop('eval_set', inplace=True , axis=1)

In [19]:
order_df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### Inserting Data 

**`dataframe.to_sql('<table>', con=engine , if_exists='<  >' , index=<  >`**
`                   .            .            .                 .
                   /|\          /|\          /|\               /|\ 
                    |            |            |                 |
 table name ________|            |            |                 |
                                 |            |                 |
                                 |            |                 |
                                 |            |                 |
Connextion ______________________|            |                 |
                                              |                 |
                                              |                 |
 'append' or 'replace'________________________|                 |
APPEND ==> it will append the data                              |
REPLACE ==> it will drop the table and create a new one         |
                                                                |
                                                                |
True or False __________________________________________________| 
Say if there is an index attached to the dataframe , then if set to 
FALSE it will not be inserted
`

In [20]:
aisles_df.to_sql('aisles',con=engine , if_exists='append' , index=False)

In [22]:
departments_df.to_sql('departments',con=engine , if_exists='append' , index=False)

In [23]:
products_df.to_sql('products',con=engine , if_exists='append' , index=False)

In [24]:
order_df.to_sql('orders',con=engine , if_exists='append' , index=False)

In [25]:
order_products__train_df.to_sql('order_products',con=engine , if_exists='append' , index=False)